#page-name {
    margin-top:80px;
}
    #page-name .title {
        font-size:15px;
        color:#999;
    }


    #page-name #title {
        font-size: 26px;
        color: #494949;
        font-weight: bold;
        line-height: 28px;
    }
        #page-name #title span {
            color: #777;
        }

    #page-name #info {
        height: auto;
        padding-top: 30px;
        border-right: 1px dashed #ddd;
        padding-bottom:15px;
    }
        #page-name #info img {
            max-width: 169px;
        }
        #page-name #info ul {
            padding-left: 5px;
        }
            #page-name #info ul > li {
                margin-bottom: 4px;
            }
                #page-name #info ul > li > span {
                    color: #999;
                }


    #page-name #summary-title {
        font-size: 15px;
        color: #999;
        padding-bottom: 10px;
    }
    #page-name #summary-body {
       line-height:22px;
    }

#page-name #works {
    margin-top:30px;
}

    #page-name #works .workitems {
        padding-top:15px;
        margin-top:15px;
    }
    #page-name #works  .workitem {
        float: left;
        margin-right:25px;
        height:310px;
    }
        #page-name #works  .workitem img {
            max-width:166px;
        }
        #page-name #works  .workitem > a.img {
            display: block;
        }
        #page-name #works  .workitem > a.title {
            display: block;
            text-align: center;
            margin-top: 10px;
            color:#000;
        }
        #page-name #works .workitem span {
            color: #888;
            font-size: 12px;
            display: block;
            text-align: center;
        }
        
    #page-name #photos {
        margin-top:30px;
    }

    #page-name #photo-items {
        margin-top:15px;
    }





