<?xml version="1.0" encoding="utf-8"?>
<!-- 路由重写（从.aspx 到自定义的转换) 处理类来自 Infrastructure.UrlRewriter -->
<RewriterRulesConfig>
  <!-- 首页 -->
  <RewriterRule>
    <LookFor>/</LookFor>
    <SendTo>/Index.aspx</SendTo>
  </RewriterRule>
  <!-- 搜索 -->
  <RewriterRule>
    <LookFor>/search</LookFor>
    <SendTo>/Search.aspx</SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>/search?wd=([\s\S]*)&amp;p=([0-9-]*)</LookFor>
    <SendTo>/Search.aspx?wd=$1&amp;page=$2</SendTo>
  </RewriterRule>
  <!-- 电影单页-->
  <RewriterRule>
    <LookFor>/subject/([0-9-]*)</LookFor>
    <SendTo>/Movies/Subject.aspx?movieId=$1</SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>/subject/([0-9-]*)/</LookFor>
    <SendTo>/Movies/Subject.aspx?movieId=$1</SendTo>
  </RewriterRule>
  <!-- 影人单页 -->
  <RewriterRule>
    <LookFor>/name/([0-9-]*)</LookFor>
    <SendTo>/Movies/Name.aspx?filmManId=$1</SendTo>
  </RewriterRule>
  <RewriterRule>
    <LookFor>/name/([0-9-]*)/</LookFor>
    <SendTo>/Movies/Name.aspx?filmManId=$1</SendTo>
  </RewriterRule>
</RewriterRulesConfig>