/* reset */
body {
    font-family: 'Microsoft YaHei',Arial;
    background: #fff;
    text-shadow: none;
    color: #000;
    font-size: 13px;
    text-shadow: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 13px;
    font-weight: normal;
    font-family: 'Microsoft YaHei',Arial;
}

a {
    color: #333;
}

a:hover {
    color: #666;
    text-decoration: underline;
}
/* btn */
.btn {
    border-radius: 0;
}
/* form */
.form-control {
    border-radius: 0;
}
/* modal */

/* utilities */
.bg-red {
    background: red;
}

.bg-black {
    background: #000;
}

.clear {
    clear: both;
}

.border-clear {
    border: 0 !important;
}

.none {
    text-align: center;
    padding: 40px 0 20px 0;
    height: auto;
    border: 1px dashed #ddd;
}

.none img {
    margin-bottom: 1rem;
}

.none p {
    font-size: 14px;
}

em {
    font-style: normal;
    color: #ccc;
    font-size: 12px;
}
/* pagination*/
.pagination > .active > a {
    color: #000;
    box-shadow: 0 2px #000;
}

.pagination > li:hover > a {
    color: #000;
    box-shadow: 0 2px #000;
}

.btn-close{margin-top:15px;margin-right:10px;}
.btn-close::before{content:'';display:block;width:30px;height:1px;background:#999;transition:all .35s;transform:rotate(45deg);}
.btn-close::after{content:'';display:block;width:30px;height:1px;background:#999;transition:all .35s;transform:rotate(-45deg);}

.btn-default-blank{background:none;border-radius:4px;color:#999;border:0.8px solid #999;padding:4px 25px;margin-top:10px;}

.btn-default-blank-pc{background:none;border-radius:4px;color:#999;border:1px solid #e2e2e2;padding:4px 25px;margin-top:10px;}
.btn-default-blank-pc:hover{color:#333;border-color:#666;}


/* navigation */
.navigation {height: 50px;
    /*-webkit-font-smoothing: antialiased;
    box-shadow: 0 2px 3px rgba(0,0,0,.08);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.08);
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,.08);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.08);*/
    background: rgba(0,0,0,.85);position: fixed;width: 100%;top: 0px;left: 0px;z-index: 50;margin-bottom: 100px;overflow: hidden;}

.navigation .logo {font-size: 14px;margin: 9px 0 0 0;}
.navigation .logo a {color: #fff;font-size: 20px;letter-spacing: 1px;font-weight: bold;border:1px dashed #666;padding:2px 8px;border-radius:5px;}
.navigation .logo a i {color: #94C514;font-style: normal;font-size: 22px;font-weight: bold;padding-right: 1px;}
.navigation .logo a:hover {color:#94C514;text-decoration:none;}
.navigation .menu ul {list-style: none;padding-top: 15px;}
.navigation .menu ul li {float: left;padding: 0 10px;}
.navigation .menu ul a {color: #fff;font-size: 15px;font-weight: bold;}
.navigation .menu ul a span {font-size: 14px;}
.navigation .searchbar {margin-top: 5px;}
.navigation .searchbar input {background: none;border: 0;color: #fff;padding-left: 2px;border-bottom: 1px solid #555;}
.navigation .searchbar .input-group-addon {background: none;border: 0;border-radius: 0;border-bottom: 1px solid #555;}
.navigation .searchbar i {color: #777;}
@media(max-width:414px){
    .navigation{display:none;}
}

/*nav for mobile*/
.nav-mb{height:50px;position: fixed;width: 100%;top: 0px;left: 0px;z-index: 50;background: rgba(0,0,0,.85);}
.nav-mb .menu {padding-top:10px;}
.nav-mb .menu .menu-btn{position:relative;width:30px;height:30px;transition:transform 0.4s cubic-bezier(0.4, 0.01, .165, 0.99);}
.nav-mb .menu .menu-btn .line{width:30px;height:1px;background:#999;opacity:1;position:absolute;left:0;top:14px;transition:transform 0.2s ease 0.2s;-webkit-transition:-webkit-transform 0.2s ease 0.2s;}
.nav-mb .menu .menu-btn .menu-item {width:30px;height:30px;position:absolute;top:0;left:0px;transform:translateZ(0) rotate(0deg);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;}
.nav-mb .menu .menu-btn .top{transform:translate3d(0,-8px,0);}
.nav-mb .menu .menu-btn .middle{transform:translate3d(0,0,0);}
.nav-mb .menu .menu-btn .bottom{transform:translate3d(0,8px,0);}

body.open .nav-mb .menu .menu-btn .menu-item .line{transform:translate3d(0,0,0);}
body.open .nav-mb .menu .menu-btn .menu-item.top{transform:translateZ(0) rotate(45deg);}
body.open .nav-mb .menu .menu-btn .menu-item.middle .line{opacity:0;}
body.open .nav-mb .menu .menu-btn .menu-item.bottom{transform:translateZ(0) rotate(-45deg);}

.nav-mb .logo{font-size: 14px;padding-top:9px;text-align:center;}
.nav-mb .logo a {color: #fff;font-size: 20px;letter-spacing: 1px;font-weight: bold;padding:2px 8px;border-radius:5px;}
.nav-mb .logo a i {color: #94C514;font-style: normal;font-size: 22px;font-weight: bold;padding-right: 1px;}

.nav-mb .search{font-size:20px;text-align:right;padding-top:12px;position:relative;}
.nav-mb .search i {color: #999;}

.nav-mb .search-wrap .btn-close{position:absolute;left:10px;top:12px;}
.nav-mb .search-wrap{position:relative;visibility:hidden;transition:all .35s;opacity:0;}
.nav-mb .search-box{width:100%;height:50px;padding-left:60px;background:#000;position:absolute;right:0px;top:0;}
.nav-mb .search-box input{font-size:14px;border:0;border-bottom:0.8px solid #666;color:#fff;background:none;height:30px;margin-top:10px;width:85%;}
.nav-mb .search-box button{position:absolute;top:1px;right:9px;background:none;border:0;margin-top:10px;margin-left:5px;color:#999;font-size:20px;}
.nav-mb .search-wrap.active{visibility:visible;opacity:1;}

@media(min-width:415px){
    .nav-mb{display:none;}
}

.nav-panel-wrap{width:100%;height:100%;position:fixed;z-index:60;transform:translateX(-100%);-webkit-transform:translateX(-100%);transition:transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0s;}
.nav-panel{width:70%;height:100%;background:#222;float:left;}

.nav-panel .logo{font-size: 14px;padding-top:9px;text-align:center;}
.nav-panel .logo a {color: #fff;font-size: 20px;letter-spacing: 1px;font-weight: bold;padding:2px 8px;border-radius:5px;}
.nav-panel .logo a i {color: #94C514;font-style: normal;font-size: 22px;font-weight: bold;padding-right: 1px;}

.nav-panel ul {}
.nav-panel ul li.logo{padding-bottom:10px;text-align:left;height:50px;line-height:initial;}
.nav-panel ul li.logo a{padding:0;padding-bottom:10px;color:#fff;}
.nav-panel ul li{border-bottom:0.8px solid #2e2e2e;height:46px;line-height:46px;color:#666;padding-left:20px;font-size:14px;}
.nav-panel ul li a{color:#999;}
.nav-panel ul li.active{color:#fff;}
.nav-panel-bg{width:30%;height:100%;float:left;}

.wrapper{padding-top:140px;height:auto;width:100%;}
body.open .nav-panel-wrap{transform:translateX(0);-webkit-transform:translateX(0);}

/*pc筛选*/
.cdi-pc-wrap{width: 100%; height: auto; border-bottom: 1px solid #e8e8e8; position: fixed; top: 50px;z-index:50;background:#fff;}
.cdi-pc-wrap .cdi-pc-box{position:relative;}
.cdi-pc-wrap .cdi-cate{height:20px; line-height:20px;margin:10px 0; padding: 0 20px; width: 110px;border-right:1px solid #e2e2e2;float:left;text-align:center;color:#666;cursor:pointer;}
.cdi-pc-wrap .cdi-cate i{color:#999;font-size:12px;margin-left:5px;}

.cdi-pc-con{position:absolute;left:15px;top:30px;width:360px;height:auto;padding-top:10px;visibility:hidden;opacity:0;transition:all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.35s;}
.cdi-pc-con.active{visibility:visible;opacity:1;}
.cdi-pc-con .list{width:360px;height:auto;padding:15px;box-shadow:0 1px 6px rgba(0,0,0,.2);background:#fff;}
.cdi-pc-con .list ul li{float:left;width:23%;margin:0 1%;height:30px;line-height:30px;text-align:center;margin-bottom:3px;}
.cdi-pc-con .list ul li a{display:block;width:100%;height:30px;background:#fff;}
.cdi-pc-con .list ul li a:hover{background:#94c514;color:#fff;}

.cdi-pc-type{left:125px;}
.cdi-pc-year{left:235px;}

.cdi-pc-selected{width: 100%; height: 40px; background: #f0f0f0; padding: 10px 0; box-shadow: 0 1px 1px rgba(0,0,0,.2) inset;}
.cdi-pc-selected .item-box{margin-right:10px;float:left;cursor:pointer;}
.cdi-pc-selected .item-con{padding:0 10px;height:20px;line-height:20px;background:#94C514;color:#fff;text-align:center;float:left;}
.cdi-pc-selected .item-close{background:#999;color:#fff;margin-left:1px;float:left;height:20px;line-height:20px;font-size:12px;padding:0 5px;text-align:center;}
@media(max-width:414px){
    .cdi-pc-wrap{display:none;}
}

/*mobile 筛选*/
.cdi-mb-wrap{position:fixed;top:50px;width:100%;height:40px;background:#fff;z-index:49;border-bottom:0.8px solid #e4e4e4;}
.cdi-mb-wrap i{color:#999;font-size:12px;margin-left:5px;}
.cdi-mb-wrap.col3{}
.cdi-mb-wrap.col3 .col{width:33.33%;float:left;height:40px;line-height:40px;border-left:1px solid #e4e4e4;text-align:center;color:#666;}

.cdi-mb-con{height:100%;width:100%;position:fixed;z-index:60;top:0;background:rgba(0,0,0,.95); transition:transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.1s;transform:translate3d(0,100%,0);}
.cdi-mb-con h4{text-align:center;height:50px;color:#999;font-size:16px;padding-top:20px;position:relative;}
.cdi-mb-con h4 span{position:absolute;top:10px;right:0;}
.cdi-mb-con ul {height:80%;overflow:hidden;overflow-y:scroll;}
.cdi-mb-con ul li{line-height:40px;height:40px;padding:0 40px;color:#999;border-bottom:0.8px solid #1a1a1a;}
.cdi-mb-con ul li i{font-size:14px;color:#fff;}
.cdi-mb-con ul li a{display:block;width:100%;height:40px;color:#999;}
.cdi-mb-con ul li.active a{color:#fff;}
.cdi-mb-con ul li.active span{display:block;}
.cdi-mb-con.active{transform:translate3d(0,0,0)}
@media(min-width:415px){
    .cdi-mb-wrap{display:none;}
}

/* main-container*/
#main-container {
    background: #fff;
    overflow-x: inherit;
    height: auto;
}

/* back to top */

#back-to-top {
    position: fixed;
    bottom: 0px;
    right: 20px;
    display: none;
    z-index: 1000;
    width: 40px;
    height: 40px;
    -webkit-perspective: 100px;
    -moz-perspective: 100px;
    -ms-perspective: 100px;
    perspective: 100px;
    background: none;
}

#back-to-top.block, #back-to-top .block {
    display: block;
    overflow: hidden;
    position: absolute;
}

#back-to-top .inner {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateZ(-20px);
    -moz-transform: translateZ(-20px);
    -ms-transform: translateZ(-20px);
    transform: translateZ(-20px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: 1000ms ease-in-out;
    -moz-transition: 1000ms ease-in-out;
    -ms-transition: 1000ms ease-in-out;
    -o-transition: 1000ms ease-in-out;
    transition: 1000ms ease-in-out;
}

#back-to-top .inner:hover {
    -webkit-transform: translateZ(-20px) rotateY(180deg);
    -moz-transform: translateZ(-20px) rotateY(180deg);
    -ms-transform: translateZ(-20px) rotateY(180deg);
    transform: translateZ(-20px) rotateY(180deg);
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

#back-to-top a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#back-to-top a.front {
    -webkit-transform: rotateY(0deg) translateZ(20px);
    -moz-transform: rotateY(0deg) translateZ(20px);
    -ms-transform: rotateY(0deg) translateZ(20px);
    transform: rotateY(0deg) translateZ(20px);
    background: url(//img.mbjuan.com/img/back-to-top.png) no-repeat center center;
    border: 1px dashed #aaa;
}


#back-to-top a.back {
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg) translateZ(20px);
    -moz-transform: rotateY(180deg) translateZ(20px);
    -ms-transform: rotateY(180deg) translateZ(20px);
    transform: rotateY(180deg) translateZ(20px);
    background: url(//img.mbjuan.com/img/back-to-top.png) no-repeat center center;
    border: 1px dashed #aaa;
}

#back-to-top .r {
    width: 40px;
    height: 100%;
    left: 0px;
    -webkit-transform: rotateY(90deg) translateZ(20px);
    -moz-transform: rotateY(90deg) translateZ(20px);
    -ms-transform: rotateY(90deg) translateZ(20px);
    transform: rotateY(90deg) translateZ(20px);
    border: 1px dashed #aaa;
    background: none;
}

#back-to-top .l {
    width: 40px;
    height: 100%;
    left: 0px;
    -webkit-transform: rotateY(-90deg) translateZ(20px);
    -moz-transform: rotateY(-90deg) translateZ(20px);
    -ms-transform: rotateY(-90deg) translateZ(20px);
    transform: rotateY(-90deg) translateZ(20px);
    border: 1px dashed #aaa;
    background: none;
}

#back-to-top .t {
    width: 100%;
    height: 40px;
    top: 0px;
    -webkit-transform: rotateX(90deg) translateZ(20px);
    -moz-transform: rotateX(90deg) translateZ(20px);
    -ms-transform: rotateX(90deg) translateZ(20px);
    transform: rotateX(90deg) translateZ(20px);
    background: none;
}

#back-to-top .b {
    width: 100%;
    height: 40px;
    bottom: 0px;
    -webkit-transform: rotateX(-90deg) translateZ(20px);
    -moz-transform: rotateX(-90deg) translateZ(20px);
    -ms-transform: rotateX(-90deg) translateZ(20px);
    transform: rotateX(-90deg) translateZ(20px);
    background: none;
}

#footer {
    padding-bottom: 50px;
}

/* jquery.montage */
.am-wrapper {
    float: left;
    position: relative;
    overflow: hidden;
}

.am-wrapper img {
    position: absolute;
    outline: none;
}



/*utilities*/
.mg0{margin:0 !important;}
.mg5 {margin:5px !important;}
.mg10 {margin:10px !important;}
.mg15 {margin:15px !important;}
.mg20 {margin:20px !important;}
.mg25 {margin:25px !important;}
.mg30 {margin:30px !important;}
.mg35 {margin:35px !important;}
.mg40 {margin:40px !important;}
.mg45 {margin:45px !important;}
.mg50 {margin:50px !important;}
.mg100 {margin:100px !important;}
.mg150 {margin:150px !important;}
.mg200 {margin:200px !important;}

.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt100 {margin-top:100px !important;}
.mt150 {margin-top:150px !important;}
.mt200 {margin-top:200px !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}
.mb100 {margin-bottom:100px !important;}
.mb150 {margin-bottom:150px !important;}
.mb200 {margin-bottom:200px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}
.ml100 {margin-left:100px !important;}
.ml150 {margin-left:150px !important;}
.ml200 {margin-left:200px !important;}

.mr0 {margin-right:0px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr45 {margin-right:45px !important;}
.mr50 {margin-right:50px !important;}
.mr100 {margin-right:100px !important;}
.mr150 {margin-right:150px !important;}
.mr200 {margin-right:200px !important;}

.pd0 {padding:0 !important;}
.pd5 {padding:5px !important;}
.pd10 {padding:10px !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px !important;}
.pd25 {padding:25px !important;}
.pd30 {padding:30px !important;}
.pd35 {padding:35px !important;}
.pd40 {padding:40px !important;}
.pd45 {padding:45px !important;}
.pd50 {padding:50px !important;}
.pd100 {padding:100px !important;}
.pd150 {padding:150px !important;}
.pd200 {padding:200px !important;}

.pt0 {padding-top:0 !important;}
.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt100 {padding-top:100px !important;}
.pt150 {padding-top:150px !important;}
.pt200 {padding-top:200px !important;}

.pb0 {padding-bottom:0 !important;}
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb100 {padding-bottom:100px !important;}
.pb150 {padding-bottom:150px !important;}
.pb200 {padding-bottom:200px !important;}

.pl0 {padding-left:0 !important;}
.pl5 {padding-left:5px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}
.pl100 {padding-left:100px !important;}
.pl150 {padding-left:150px !important;}
.pl200 {padding-left:200px !important;}

.pr0 {padding-right:0 !important;}
.pr5 {padding-right:5px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}
.pr100 {padding-right:100px !important;}
.pr150 {padding-right:150px !important;}
.pr200 {padding-right:200px !important;}

/*边框设置*/
.nborder{border:0 !important;}
.nborder-t {border-top:0px !important;}
.nborder-b {border-bottom:0px !important;}
.nborder-l {border-left:0px !important;}
.nborder-r {border-right:0px !important;}

.border-b{border-bottom:1px solid #ddd;}
.border-t{border-bottom:1px solid #ddd;}

/*字号大小*/
.f10{font-size:10px !important;}
.f12{font-size:12px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.f22{font-size:22px !important;}
.f24{font-size:24px !important;}
.f30{font-size:30px !important;}
.f36{font-size:36px !important;}
.f40{font-size:40px !important;}

.text-left{text-align:left !important;}
.text-center{text-align:center !important;}
.text-right{text-align:right !important;}

.bg-white{background:#fff;}


/*详情页*/
.bdm {border-bottom: 1px solid #e8e8e8;}
.pd18-20 {padding: 18px 20px;height: auto;}
@media(max-width:414px){
    .pd18-20 {padding:18px 0;}
}

.h2-title {font-size: 28px;color: #333;font-weight: bold;text-align: left;}
.h2-title span {color: #999;}
@media(max-width:414px){
    .h2-title {font-size:20px;margin-left:0px;}
}

.h6-title {margin-bottom: 10px;color: #999;}


.detail-wrap{background: #fafafa; box-shadow: 0 1px 3px rgba(0,0,0,0.2); border-radius: 3px;  margin-bottom: 50px;}
.detail-pic{height: 100%; padding-bottom: 20px;border-top:1px solid #f2f2f2;}
@media(max-width:414px){
    .detail-wrap {box-shadow:none;background:none;}
    .detail-pic{padding-bottom:0;}
}



.torrent {}
.torrent ul li {line-height: 20px;margin-bottom: 10px;}
.torrent ul li i {color: #999;font-size: 12px;margin-left:15px;float:right;}
@media(max-width:414px){
    .torrent ul li {border-bottom:1px dotted #e8e8e8;padding-bottom:5px;margin-bottom:5px;}
    .torrent ul li i{display:none;}
}

.detail-con-wrap {position: relative;padding-bottom: 50px;background:#fff;border-top:1px solid #f2f2f2;}
.detail-con-wrap .shadow {position: absolute;width: 100%;height: 100%;left: 0;top: 0;    z-index: 1;/*box-shadow: inset 5px 0 5px -5px rgba(0,0,0,0.25);*/border-left:1px solid #f2f2f2;}
@media(max-width:414px){
    .detail-con-wrap{border:none;}
    .detail-con-wrap .shadow{display:none;}
}

.detail-con-wrap .detail-con {position: relative;z-index: 2;height: auto;}

.detail-type {}
.detail-type ul li {color: #000;margin-bottom: 3px;line-height: 20px;}
.detail-type ul li span {color: #999;}
.detail-type ul li em {color: #999;padding: 0 1px;font-size: 12px;}

.detail-people {}
.detail-people .title {color: #999;margin-bottom: 2px;}
.detail-people .list {margin-bottom: 10px;}
.detail-people .list a {color: #000;}
.detail-people .list a:hover {text-decoration: underline;color: #666;}
@media(max-width:414px){
    .detail-people{border-bottom:1px solid #e8e8e8;}
}


/*列表*/
.list-wrap{}
.list-box{margin-bottom:20px;}
.list-box img{box-shadow:rgba(0,0,0,.3) 0px 1px 1px;transition:all .15s;display:table;text-align:center;padding:15px;border-top:1px solid #e8e8e8;}
.list-box:hover img{box-shadow:rgba(0,0,0,.5) 0 1px 5px;}
.list-box img{display:table-cell;vertical-align:middle;}





/*翻页*/
.page-box{position:fixed;right:0px;bottom:20px;width:240px;height:40px;padding:5px 0;padding-left:15px;background:rgba(0,0,0,.55);z-index:42;}
.page-box .arrow-btn{position:relative;width:100px;height:30px;line-height:30px;display:block;float:left;transition:all .35s;color:#fff;}
.page-box .l{width:15px;height:1px;background:#fff;position:absolute;transition:all .35s;}
.page-box .lt{transform-origin:100% 0; left:0px;top:15px;}
.page-box .lb{transform-origin:100% 0; left:0px;top:15px;}

.page-box .pre{padding-left:35px;margin-right:15px;padding-right:15px;}
.page-box .pre .lt{transform:rotate(-135deg); }
.page-box .pre .lb{transform:rotate(135deg);}
.page-box .pre:hover .lt{transform-origin:100% 20%; transform:rotate(-145deg);}
.page-box .pre:hover .lb{transform-origin:100% 20%; transform:rotate(145deg);}

.page-box .next {padding-left:15px;}
.page-box .next .lt{ transform:rotate(45deg);left:60px;}
.page-box .next .lb{transform:rotate(-45deg);left:60px;}
.page-box .next:hover .lt{transform-origin:100% 20%; transform:rotate(35deg);}
.page-box .next:hover .lb{transform-origin:100% 20%; transform:rotate(-35deg);}
@media(min-width:415px) {
    .page-box {display:none;}
}


/*发现列表*/
.found-list {padding-bottom: 80px;position:relative;}
.found-list-box {margin-top: 20px;position: relative;z-index:40;}
.found-list-box.topz{z-index:2000;}
.found-list-box h4 {font-size: 16px;margin-bottom: 10px;text-align:center;margin-top:10px;overflow:hidden;height:36px;}
.found-list-box h4 span{font-size:12px;color:#666;padding-left:5px;}
.found-list-box .zoom {position: absolute;top:190px;right:30px;background: rgba(255,255,255,.25);width:30px;height:30px;line-height:30px;font-size:16px;color: #fff;border-radius:10px;text-align: center;transition: all .15s;transform: scale(2);opacity: 0;}
.found-list-box img {border: 2px solid #fff;border-radius: 2px;transition: all .35s;}
.found-list-box:hover .zoom {transform: scale(1);opacity: 1;}
.found-list-box:hover img {box-shadow: rgba(0,0,0,.65) 0 1px 6px;}
.found-list .split-line {display: none;}

.collect-list .pic a{display:block;width:100%;height:100%;position:relative;}
.collect-list .cover-mask{background-image:url(/img/default/coverall.png);background-size:270%;background-repeat:no-repeat;width:98%;height:98%;position:absolute;left:2px;top:2px;right:0;bottom:0;z-index:3;}
.collect-list .cover-txt{position:absolute;bottom:0px;left:0px;right:0px;color:#ccc;background:rgba(0,0,0,.35);width:99%;height:26px;line-height:26px;padding-right:10px;font-size:12px;border-top:1px solid rgba(0,0,0,.15);}

@media(max-width:414px) {
    .collect-list .found-list-box{min-height:200px;}
    .collect-list .found-list-box h4{margin-bottom:0;}
    .found-list-box {min-height:310px;margin-top:10px;}
    .found-list .split-line {margin: 10px 0;height: 1px;width: 100%;background: #e6e6e6;display: block;}
}
@media(max-width:375px) {
    .collect-list .found-list-box{min-height:200px;}
    .found-list-box {min-height:280px;}
}
@media(max-width:320px) {
    .collect-list .found-list-box{min-height:130px;}
    .found-list-box {min-height:240px;}
}




/*浮框*/
.info-window-wrap{width:360px;height:auto;position:fixed;z-index:3999;opacity:0;visibility: hidden;transition:all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.35s;}
.info-window-wrap.left{padding-right:50px;}
.info-window-wrap.right{padding-left:50px;}
.info-window-wrap.active{opacity:1;visibility: visible;}
.info-window-wrap .triangle{width:26px;height:40px;background-image:url(/img/default/arrow.png);background-repeat:no-repeat;position:absolute;top:50px;}
.info-window-wrap.left .triangle{background-position:0 0;left:290px;  /*border-top:20px solid transparent;border-bottom:20px solid transparent;width:0;height:0;position:absolute;top:80px;border-left:20px solid #fff;right:-40px;*/}
.info-window-wrap.right .triangle{background-position:0 -102px;left:-45px; /*border-top:20px solid transparent;border-bottom:20px solid transparent;width:0;height:0;position:absolute;top:80px;border-right:20px solid #fff;left:-40px;*/}

.info-window{width:310px;max-height:380px;padding:20px;background:#fff;border-radius:4px;box-shadow:0 0 15px rgba(0,0,0,.5);}
.info-window .box{position:relative;}
.info-window .box span{color:#999;}
.info-window .box h3{margin-bottom:10px;font-size:16px;}
.info-window .box h3 span{font-size:14px;}
.info-window .box ul li{line-height:22px;}
.info-window .box .intro{border-top:1px solid #e2e2e2;padding-top:10px;margin-top:10px;line-height:22px;height:75px;overflow:hidden;}

@media(max-width:414px) {
    .info-window-wrap{display:none;}
}

/*集*/
/*====集详情*/
.collect{padding-top:80px;}

.collect .des{word-break:break-all;}
.collect .des h4{color:#999;}

.collect .title {color: #999;margin-bottom:15px;}

.collect .box{text-align:center;margin-bottom:15px;min-height:220px;}
.collect .box img{box-shadow:0 1px 2px rgba(0,0,0,.35);transition:all .35s;margin-bottom:5px;}
.collect .box:hover img{box-shadow:0 1px 6px rgba(0,0,0,.75);}
.collect .box p{line-height:20px;margin:0;}
.collect .box .name{text-overflow:ellipsis;overflow:hidden; white-space:nowrap;}
.collect .box .year{color:#999;}

@media(max-width:414px){
    .collect .pic.bdm{border:0;}
}

/*====集列表*/
.collect-list{padding:80px 0;}
