body{background:#f2f4f5;font-family:'Microsoft YaHei',SimSun,sans-serif !important;}
h1, h2, h3, h4, h5, h6{font-family:'Microsoft YaHei',SimSun,sans-serif !important;margin:0;}
p{margin-bottom:5px;}
ul > li, ol > li{line-height:37px;padding-left:0;}

body.menu-behind .header .brand{padding-left:20px;}

.header{height:50px;}

.table-vtop tbody tr td{vertical-align:top;}

a{color:#333;}

.jumbotron{box-shadow:0 0 2px 0 rgba(0,0,0,.1);margin-bottom:15px;}

.checkbox label::after{left:1px !important;}

.page-sidebar{left:0;background:#333742;}
.page-sidebar .sidebar-header{height:50px;}

.page-container .page-content-wrapper .content:only-child{padding-left:170px;}
.page-container .page-content-wrapper .content{padding-top:50px;}

.page-sidebar .sidebar-menu .menu-items > li{height:37px;}
.page-sidebar .sidebar-menu .menu-items > li > a{padding-left:18px;width:100%;min-height:37px;line-height:37px;}
.page-sidebar .sidebar-menu .menu-items > li > a > .title{width:99%;font-size:12px;}
.page-sidebar .sidebar-menu .menu-items > li > a > .title i{font-size:12px;margin-right:5px;}
.page-sidebar .sidebar-menu .menu-items > li > a.detailed > .title{line-height:37px;}

.page-sidebar .sidebar-menu .menu-items li.active > a{border-left:3px solid #6D5CAE;display:inline-block;background:#24272e !important;}

@media(max-width: 991px){
    .page-sidebar{display:block;width:170px;}
    .header{padding-left:0;}
    .breadcrumb{padding:15px 0;}
}

@media(max-width: 767px){
    .header{height:50px;}
    .jumbotron, .container-fluid{padding:0 15px;}
    .page-container .page-content-wrapper .content{padding-top:50px;}
}

@media(min-width: 576px){
    .jumbotron, .container-fluid{padding:0 15px;}
}

@media only screen and (min-width: 980px){
    body.menu-pin .page-sidebar{width:170px;transform:translate(0px, 0) !important;-webkit-transform:translate(0, 0) !important;}
    body.menu-pin .page-container .page-content-wrapper .content{padding-left:170px;}
}


/*pages*/

.to-top{position: fixed; right: 10px; bottom:20px; border-radius: 50%; width: 42px; height: 42px; box-shadow: 0 0 8px 0 #bec9d8; text-align:center;line-height:42px;font-size:20px;display:none;}
.to-top:hover{background:#6D5CAE !important;}

.condition-cate{width:100%;position:relative;height:auto;}
.condition-cate ul{padding-left:70px;height:auto;position:relative;margin-bottom:10px;padding-bottom:10px;border-bottom:1px dashed #e5ebf0;}
.condition-cate ul li{display:inline-block;height:24px;line-height:24px;margin-right:8px;margin-bottom:4px;font-size:13px;color:#333;}
.condition-cate ul li.all{position:absolute;left:0;top:0;font-weight:bold;}
.condition-cate ul li a{display:inline-block;line-height:24px;padding:0px 10px;border-radius:2px;}
.condition-cate ul li a.active{background:rgba(107,162,252,.2);color:#6D5CAE;}
.condition-all a{color:#cbd2dd !important;display:block;text-align:center;}

.item-list{position:relative;height:auto;}
.table-list{margin-top:0;}
.table-list tbody tr td{border-bottom:1px solid #f2f4f5;padding:5px;}
.table-list tbody tr td .bg-primary{background-color:#6D5CAE !important;color:#fff;}
.table-list tbody tr td h4{font-size:16px;font-weight:400;}
.table-list tbody tr td .pic img{padding:4px 2px;box-shadow:0 1px 3px #6D5CAE;}
.table-list tbody tr td .detail{}
.table-list tbody tr td .detail p a{color:#6D5CAE;margin-right:5px;}
.item-list .actors{position:relative;width:100%;height:auto;}
.item-list .actors-list{position:absolute;bottom:0;right:0;}
.item-list .actors-list ul li{display:inline-block;margin-right:10px;}
.item-list .actors-list ul li img{border-radius:50%;border:1px solid #f2f4f5;}
.item-list .actors-list ul li a{display:block;color:#999;}


.actors-list{}
.actors-list .items{width:145px;height:auto;float:left;margin:5px;background:#fff;padding:10px;text-align:center;box-shadow:0 0 2px 0 rgba(0,0,0,.1);border:1px solid #fff;transition:all .35s;}
.actors-list .items.active{border:1px solid #ccc}
.actors-list .items .pic{border-radius:50%;border:1px solid #f2f4f5;width:100px;height:100px;overflow:hidden;margin:0 auto;margin-bottom:10px;text-align:center;}
.actors-list .items .pic img{width:100%;}

.details{}
.details img{padding:4px 2px;box-shadow:0 1px 3px #6D5CAE;}
.details .instructions{}
.details .instructions .row{margin-bottom:5px;}
.details .instructions .title{width:40px;}
.details .instructions .con{width:90%;}
.details .instructions .con a{color:#6D5CAE;font-weight:bold;margin-right:5px;}
.details .actors-list .items{width:80px;height:auto;box-shadow:none;}
.details .actors-list .items .pic{width:60px;height:60px;}
.details .grid-list .pic{float:left;}
.details .grid-list .pic img{padding:4px 2px;box-shadow:0 1px 3px #6D5CAE;width:102px;margin-bottom:2px;margin-right:2px;}
.details .down-source{}
.details .down-source:hover{background:#f2f3f4;}

.details.details-jackbox{}
.details.details-jackbox img{height:140px;}
.details.details-jackbox .pic-small img{height:60px !important;}











