<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- 第一件事改变 root/priority/@value to "INFO" or "ALL". -->

  <root>
    <!-- 优先级: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF. -->
    <priority value="ALL" />
    <appender-ref ref="error-file" />
    <appender-ref ref="debug-file" />
  </root>

  <appender name="error-file" type="U.Logging.ULog4netFileAppender">
    <!-- 发送错误或重大错误消息的目标文件  -->
    <file value="App_Data/Logs/u-error" />
    <appendToFile value="true" />
    <!-- Immediate flush on error log, to avoid data loss with sudden termination. -->
    <immediateFlush value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- 只有错误和致命的日志消息会发送到这里 -->
      <levelMin value="ERROR" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %P{Tenant} - %message%newline %P{Url}%newline" />
    </layout>
  </appender>


  <appender name="debug-file" type="U.Logging.ULog4netFileAppender">
    <file value="App_Data/Logs/u-debug" />
    <appendToFile value="true" />
    <!-- Immediate flush on error log, to avoid data loss with sudden termination. -->
    <immediateFlush value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- 只有错误和致命的日志消息会发送到这里 -->
      <levelMax value="WARN" />
      <levelMin value="DEBUG" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %P{Tenant} - %message%newline" />
    </layout>
  </appender>


</log4net>
