/*page-detail*/
.bdm {border-bottom: 1px solid #e8e8e8;}
.pd18-20 {padding: 18px 20px;height: auto;}

.h2-title {font-size: 28px;color: #333;font-weight: bold;text-align: left;}
.h2-title span {color: #999;}
@media(max-width:414px){
    .h2-title {font-size:20px;margin-left:15px;}
}

.h6-title {margin-bottom: 10px;color: #999;}

.detail-wrap{background: #fafafa; box-shadow: 0 1px 3px rgba(0,0,0,0.2); border-radius: 3px;  margin-bottom: 50px;}
.detail-pic{height: 100%; padding-bottom: 20px;border-top:1px solid #f2f2f2;}
@media(max-width:414px){
    .detail-wrap {box-shadow:none;background:none;}
    .detail-pic{padding-bottom:0;}
}



.torrent {}
.torrent ul li {line-height: 20px;margin-bottom: 10px;}
.torrent ul li i {color: #999;font-size: 12px;margin-left:15px;float:right;}
@media(max-width:414px){
    .torrent ul li {border-bottom:1px dotted #e8e8e8;padding-bottom:5px;margin-bottom:5px;}
    .torrent ul li i{display:none;}
}

.detail-con-wrap {position: relative;padding-bottom: 50px;background:#fff;border-top:1px solid #f2f2f2;}
.detail-con-wrap .shadow {position: absolute;width: 100%;height: 100%;left: 0;top: 0;    z-index: 1;/*box-shadow: inset 5px 0 5px -5px rgba(0,0,0,0.25);*/border-left:1px solid #f2f2f2;}
@media(max-width:414px){
    .detail-con-wrap{border:none;}
}

.detail-con-wrap .detail-con {position: relative;z-index: 2;height: auto;}

.detail-type {}
.detail-type ul li {color: #000;margin-bottom: 3px;line-height: 20px;}
.detail-type ul li span {color: #999;}
.detail-type ul li em {color: #999;padding: 0 1px;font-size: 12px;}

.detail-people {}
.detail-people .title {color: #999;margin-bottom: 2px;}
.detail-people .list {margin-bottom: 10px;}
.detail-people .list a {color: #000;}
.detail-people .list a:hover {text-decoration: underline;color: #666;}
@media(max-width:414px){
    .detail-people{border-bottom:1px solid #e8e8e8;}
}